@import url("colors.css");

* {
    font-family: "Iosevka Nerd Font";
    border-radius: 4px;
    font-size: 14px;
}

window#waybar {
    background: alpha(@background, 0.75);
    border: 1px solid @color0;
}

.modules-left, .modules-center, .modules-right {
    margin: 0px 8px;
}

#language, #bluetooth, #network, #wireplumber {
    color: @cursor;
    padding: 0px 6px;
    margin: 6px 2px;
    background-color: @color0;
    border: 1px solid @color5;
}

.roclock {
    color: @cursor;
    padding: 0px 6px;
    margin: 6px 0px;
    background-color: @color0;
    border: 1px solid @color5;
}

#window {
    color: @cursor;
    padding: 0px 6px;
    margin: 6px 0px;
}

#workspaces {
    margin: 6px 0px;
    padding: 0px 6px;
    background-color: @color0;
    border: 1px solid @color5;
}

#workspaces button {
    padding: 3px;
    color: @color5;
}

#workspaces button.visible {
    color: @color5;
}

#workspaces button.active {
    color: @cursor;
}
