http://pihole.homelab.local {
    redir / /admin
    reverse_proxy 10.8.1.3:80
}

http://portainer.homelab.local {
    reverse_proxy 10.8.1.5:9000
}

http://wg.homelab.local {
    reverse_proxy 10.8.1.2:51821
}
