[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=compressManga

[Desktop Action compressManga]
Name=Compress manga
Icon=archive-insert
Exec=zip Chapter.cbz %F/*
